<!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous">
        </script>
</body>
<p>
	
</p>
<div style="margin-top:5%">
<div style="padding-left:40.5%;padding-top:2%;padding-bottom:0.5%">
	<h4 style="font-family: 'Satisfy', cursive;">Developed&ensp;By&ensp;Abhinav&ensp;&&ensp;Nitesh</h4>
</div>
<div style="padding-left:45%;padding-top:0.5%;padding-bottom:1%">
		<a href="https://github.com/CoderBoy99" target="_blank"><i class="fab fa-github-square fa-2x"style="color:black"></i></a>
		<a href="https://www.linkedin.com/in/abhinav-singh-040b741a9/"style="color:black"target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
		<!-- <i class="fas fa-grip-lines-vertical fa-2x"></i> -->&emsp;
		<a href="https://github.com/niteshsharma5"target="_blank" ><i class="fab fa-github-square fa-2x" style="color:black"></i></a>
		<a href="https://www.linkedin.com/in/nitesh-sharma-8166341ab/"style="color:black"target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
</div>
<p style="text-align:center;color:black;">
	&#169;All rights reserved Product Scrapper
	
</p>
	</div>
</html>
